<div class="well">
  <h2>All Exchanges:</h2>
  <% @exchanges.each do |exchange| %>
  <ul>
  <!-- < @requester = User.find_by(id: [exchange.requester_id.to_i]) %> -->
    <% if exchange.vendor_id == nil %>
      <li>Station: <%= exchange.station %></li>
      <li>Time: <%= exchange.transform_time %></li>
      <li>Price: <%= number_to_currency(exchange.price, :unit => "$")  %></li>
        <% if exchange.is_bike == true %>
            <li>Service: Deliver a Bike</li>
        <% else %>
           <li>Service: Open up a Dock</li>
        <% end %>
      <li><%= button_to "select", exchange_path(exchange), :class => 'btn btn-success', :id => 'select-btn', :method => :get %></li> 
    <% end %>
    </ul>
  <% end %>
  

</div>





