<div class="panel panel-default" id="leave-review">
  <div class="panel-heading">
    <div class="panel-title">
      <h3>COUNTER OFFERS</h3>
    </div>
  </div>
  <div class="panel-body">
<%= render 'comments' %>
<h4><%= link_to "New Comment", [:new, @commentable, :comment] %></h4>
</div>