
<h2>Edit Your New Info:</h2>
<%= render 'form' %>

<h2>Let us pay you</h2>
<%= link_to "Connect Your Stripe Account", payments_path %>

<h2>Transfer your available funds</h2>
<%= link_to "Collect Funds", transfer_path %>
 <%= button_to "Collect Funds", transfers_path, :method => :post %>
