

<h3>ABOUT SEND ANGEL</h3>
<p>Send Angel does two things: 1) It simplifies your search for the nearest available Citibike and Citibike dock. 2) The 'Send Angel' service allows you to schedule a bike or dock to be available to you at the location of your preference. Just say when and where, suggest a fee (perhaps the size of a cab fare) and someone will be on their way.</p> 

<p>Send Angel is not in any way formally affiliated with the excellent 80s freestyle BMX movie 'Rad', but some of us at Send Angel watched said movie A L--O--T during our formative years. That is all. </p>

<h3>SEARCH FOR THE NEAREST BIKE OR DOCK</h3>
<p>Click on the 'new search' tab in the navbar. Enter in an address and hit 'go' to get the real-time location of the nearest bike and dock. You'll also see the next best location. Clicking on the address takes you to Google maps.</p>
<h3>USING 'SEND ME AN ANGEL' SERVICE</h3>
<p>Be sure to save your payment information (securely through Stripe) by clicking on the 'My Account' tab, then 'Edit Account'. Create a username and a phone number. Then perform a new search and click the Send Angel button.</p>
<h3>BECOMING A 'SEND ANGEL' ANGEL</h3>
<p>Ready to make a healthy hustle just by jumping on a bike? All you need is a strong sense of punctuality and a spidey-sense for getting around NYC, especially on a gorgeous blue bike. That's kind of the whole shebang. If you'd like to become an Angel, fill out the form below and we'll be in touch.</p>
<h3>ALL OTHER INQUIRIES</h3>
<p>Email us. hello.sendangel@gmail.com</p>

<h3>Stay safe out there.</h3>

<%= render 'angels/angelform' %>


