
<div class="well">
  <div class="account">
     <ul>
      <li><%= link_to "Edit Account", edit_user_registration_path %></li>
      <li><%= link_to "Saved Destinations", user_path(current_user) %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>

