<div class="well"> 
  <ul>
    <img src="http://www.everythingaction.com/wp-content/uploads/2011/09/rad1986.jpg" width= "370px" height= "200px"alt="send me an angel">
    <h1>SEND ME AN ANGEL</h1>
    <h2>A healthy way to hustle on an NYC Citibike.</h2>
   </ul> 
</div>    

    <% unless user_signed_in? %> 
      <h2><%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Sign in", new_user_session_path %>
      </h2>
    <% end  %>


    <% if user_signed_in? %>
      <h2>
      <%= link_to "New Search", new_search_path %> |
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </h2> 
    <% end %>
