<div class="well"> 
  <ul>
    <h1>SEND ME AN ANGEL</h1>
   </ul> 
</div>    

    <% unless logged_in?  %> 
      <h2><%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Sign in", new_user_session_path %>
      </h2>
    <% end  %>


    <% if logged_in? %>
      <h2>
      <%= link_to "New Search", new_search_path %> |
      <%= link_to 'Logout', session_path, :method => :delete %>
      </h2> 
    <% end %>
