<%= form_tag payments_path(id: @user.id), :class => 'form-horizontal', :id =>
'account-form' do %>

<div class="control-group">
  <label class="control-label" for="fullName">Full Name</label>
  <div class="controls">
    <input type="text" name="fullName" id="fullName" />
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="number">Routing Number</label>
  <div class="controls">
    <input type="text" size="9" class="routingNumber" id="number" placeholder="*********"/>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Account Number</label>
  <div class="controls">
    <input type="text" class="accountNumber" />
  </div>
</div>

<div class="form-row">
  <div class="controls">
    <button type="submit" class="btn btn-primary">Pay</button>
  </div>
</div>
<% end %>

<script>  
$('#account-form').submit(function() {
Stripe.bankAccount.createToken({
country: 'US',
routingNumber: $('.routingNumber').val(),
accountNumber: $('.accountNumber').val(),
}, stripeResponseHandler);
return false;
});

function stripeResponseHandler(response) {
var form = $('#account-form');
form.append("<input type='hidden' name='stripeToken' value='" + response.id + "'/>"
form.get(0).submit();
}
</script>